# Node
frontend/node_modules/
frontend/dist/

# Java
backend/target/

# Environment files
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.iml

# Docker
docker-compose.yml
backend/Dockerfile
frontend/Dockerfile
frontend/nginx.conf

# OS
.DS_Store
Thumbs.db
opencode.md
opencode.json
last_run.log
.github